[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/wzairi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/wzairi
	label-Verified = -1..+1 group user/wzairi
	push = group user/wzairi
	read = group user/wzairi
	rebase = group user/wzairi
	removeReviewer = group user/wzairi
	submit = group user/wzairi
[access "refs/heads/*"]
	create = group user/wzairi
	push = +force group user/wzairi
	pushMerge = group user/wzairi
	read = group user/wzairi
[access "refs/tags/*"]
	push = group user/wzairi
	push = +force group user/wzairi
